head
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel='stylesheet')
  style.
    #json{
      height:70vh;
      color: green;
    }
    #status{ 
      border: none;
      overflow-y: auto;
      height: 20vh;
      word-break: break-all;
      background-color: #000;
      color: #fff;
    }
    .error__invalid-json #json{
      color :red;
    }
    .txt-invalid-json {
      display:none;
    }

    .error__invalid-json .txt-invalid-json{
      display:inline-block;
    }

  
body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      #navbarSupportedContent.collapse.navbar-collapse
        .navbar-nav.me-auto.mb-2.mb-lg-0
          span Welcome #{email}!
        .d-flex
          a.link-danger(href="/logout") Logout
          

  .container.mt-5
    h1
      i.bi.bi-globe 
      . 
        Motif - Webscraper!
    hr
    .row
      .form-group.mb-3
        h5 JSON Input
        textarea#json.form-control.rounded-0(rows='50' spellcheck='false').
                                                      {
                                                        "columns":[
                                                            "url", "Page Number","User Name", "Userid","No of Friends","No of Reviews","No of Photos","Restaurant Name","Website", "Address", "Ratings", "Date","Comments"
                                                        ],
                                                        "urls":[
                                                        {
                                                          "url":"https://www.yelp.com/user_details_reviews_self?userid=0ObqLJu05px7PtUl57UJbw",
                                                          "itrateParam":"&rec_pagestart",
                                                          "pages":1,
                                                          "startFrom":0,
                                                          "outputCSV":"RUPINDER.csv"
                                                        },
                                                        {
                                                          "url":"https://www.yelp.com/user_details_reviews_self?&userid=8k3aO-mPeyhbR5HUucA5aA",
                                                          "itrateParam":"&rec_pagestart",
                                                          "pages":3,
                                                          "startFrom":2,
                                                          "outputCSV":"Victor.csv"
                                                        }
                                                      ]
                                                    }
      .form-group.mb-3
        .dropdown
          button#dropdownMenuButton1.btn.btn-primary.dropdown-toggle(type='button' disabled='disabled' data-bs-toggle='dropdown' aria-expanded='false') Start Scraping
          ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
            li
              a#submit.dropdown-item(href='javascript:;') Users Reviews
              .dropdown-divider
              a.dropdown-item.link-secondary(href='javascript:;') Restaurants Info
            
          
        label.txt-invalid-json.text-danger(for="submit") &nbsp; - Invalid Json !
      .form-group.mb-3
        h5 Live Console
        p#status.form-control.rounded-0.mb-0
      .form-group.mb-3
        h5 Files on server
        button#refresh.btn.btn-success 
          i.bi.bi-arrow-repeat 
          .
            Refresh CSV file list 
      .form-group.mb-3
        
        ol#files.csv-files.mb-0
      .form-group.mb-3
        button#delete.btn.btn-danger 
          i.bi.bi-trash 
          . 
            Delete all CSV files 
    hr

  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js' integrity='sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')

  script.
    $(document).ready(function() {
              
        logger = (msg) => {
          console.log(msg);
          $('#status').append( msg + "</br>").scrollTop($("#status")[0].scrollHeight);
        }
        $("#submit").click(function() {
          logger("Requesting server...");
           json = ($("#json").val());
            $.post(location.href+"scraper", {
                json: json
            }, (data) =>{
                 logger("Response from server: " + data);
            },(e) =>{
                logger('Unable to send to error!!!');
            });
        });
    
    let checkUserJSON = ()=>{
          let data = $("#json").val();
          $("#dropdownMenuButton1").removeAttr('disabled');
          try{
              JSON.parse(data);
              $("body").removeClass("error__invalid-json")
          }catch(e){
              $("#dropdownMenuButton1").attr('disabled','disabled');   
              $("body").addClass("error__invalid-json")
          }
            
        }
      checkUserJSON();
        $("body").on('focus keyup','#json',checkUserJSON);

     let getCSVFiles =()=>{
        $("ol.csv-files li").remove();
        $.get(location.href+"csvfiles", {}, function(data) {
              if(data.files){
                data.files.forEach((val)=>{
                    $("ol.csv-files").append(`<li><a class="link-primary" href="/download?file=${val}"><i class="bi bi-file-earmark-spreadsheet"></i> ${val}</a></li>`);
                });
              }
        });
      };

      getCSVFiles();
      $("#refresh").click(getCSVFiles);
      $("#delete").click(()=>{
        let input = window.confirm("Are you sure you want to detele all the csv in server?");
        if(input){
           $.get(location.href+"clearDir", {}, function(data) {
              getCSVFiles();
              alert("Done!");
          });
        }
      });

        const ws = new WebSocket('ws://'+location.hostname+':3001/');
        ws.onopen = function() {
          logger('Server Connected!');
           ws.send('lets connect?');
        };
        ws.onmessage = function(e) {
          logger(e.data);
          $("#submit").removeAttr('disabled');
        };
    });
